body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
}

header {
    text-align:center;
    padding: 20px;
    background-color:darkslategray;
    color: #fff;
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.profile-image {
    border-radius: 50%;
    text-align: center;
    line-height: 1pc;
}

.profile-image img {
    border-radius: 50%;
    vertical-align: middle;
    max-width: 20%;
    max-height: 20%;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    color: white;
}

h3 {
    color: black;
}

h2 {
    color: white;
}

p {
    color: black;
    line-height: 1.5;
    margin-bottom: 15px; 
    text-align: justify; 
    line-height: 1.6; 
}

.main-menu a {
    display: inline-block;
    margin-right: 10px;
    color: white;
    font-size: 30px;
}

.main-menu {
    white-space: nowrap;
}

.menu-item {
    display: inline-block;
    margin-right: 10px;
}

.main-menu nav {
    text-align: left;
}

/* Responsive Styles */
@media screen and ( max-width: 768px ) {
    .profile-imageimg {
        max-width: 100%;
    }

    .main-menua ul {
        flex-direction: column;
        text-align: center;
    }
    .main-menua li {
        margin-right: 0;
        margin-bottom: 10px;
    }
    
}

@media only screen and ( max-width: 600px ) {

    h2 {
        font-size: 28px;

    }

    p {
        font-size: 16px;
    }
}




         